.root{
    --base-color: #ffffffff;
    --text-color: #00000;
    --primary-color: #ffc06e;
    --secondray-color: #9D8DFF;
    --color-1: #F9F6F3;
    --color-2: #f3F7F9;
    --color-3: #f6F3F9;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    max-width: 92vw;
    margin:  0 auto;
}

html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: ver(--text-color);
}

body{
    padding: 1em;
    background: var(--base-color);
}

h1,h2,h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    margin: 1em auto 2em auto;
    width: min(1000px, 100%);
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2em;

}

nav li:first-child{
    margin-right: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

}

nav a{
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover{
    text-decoration: underline;
}

header, section{
    margin: 2em auto;
    width: min(75em, 100%);
    background: var(--color-1);
    padding: min(0.9em,10%);
    border-radius: 1em;
}

.flex-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

header img{
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}

.text-contain{
    flex: 0 1 34em;
}

h1{
    font-size: 2.5em;
}

.text-contain p{
    margin: 2em 0 1em 0;
    font-size: 1.25rem;
}

.cta{
    display: inline-block;
    text-decoration: none;
    color: white;
    background:  #ffc06e;
    padding: .75em 1.25em;
    border-radius:.5em;
    font-weight: 600;
}

.cta-button{
    background:#9D8DFF;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: .75em 1.25em;
    border-radius:.5em;
    font-weight: 600;
}

section{
    padding: 3em min(2em, 15%);
    background: #f3F7F9;
    text-align: center;
}

h1{
    font-size: 2rem;
}

section p{
    margin-top: 0.1em;
    font-size: 1.25rem;
}

.grid-container{
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img-1 img-1 img-2 img-3"
    "img-1 img-1 img-4 img-5";
    gap: 1em;
}

.grid-container img{
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease;
}

.grid-container img:hover{
    scale: 1.05;
}

details{
    margin-top: 1em;
    background: #ffffffff ;
    border-radius: 1em;
}

details summary{
    padding: 1em;
    font-size: 1.7rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

details p{
    padding: 0 2em 2em 2em;
}

footer{
    padding-bottom: 1.5em;
    text-align: center;
}

footer a{
    margin: 0 1em;
    text-decoration: none;
    color: #000000;
}

footer:hover{
    text-decoration: underline-;
}

@media (max-width:900px) {
     header{
        text-align: center;
     }

     header .text-contain{
        padding-top: 0;
     }
}

@media (max-width:640px){
    nav li{
        display: none;
    }

    nav li:first-child,
    nav li:last-child{
        display: block;
    }

    header{
        margin-top: 0;
    }

    .cta{
        margin-top: .5em;
        width: 100%;
    }

    .flex-contain{
        flex-direction: column;
    }

    .cta-button{
        width: 100%;
        margin-top: 10px;
    }

    .grid-container{
        display: flex;
        flex-direction: column;
    }

    .text-contain p{
        font-size: 1rem;
    }

    h2{
        font-size: 1.5rem;
    }
}